---
layout: default
---
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <article class="post">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
          <div class="post-meta">
            <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
            {% if page.author %} • <span class="author">报告人：{{ page.author }}</span>{% endif %}
            {% if page.category %} • <span class="category">分类：{{ page.category }}</span>{% endif %}
          </div>
        </header>

        <div class="post-content">
          {{ content }}
        </div>
        
        {% if page.paper_url or page.slides_url %}
        <div class="post-links mt-4">
          <h4>相关资源</h4>
          <ul>
            {% if page.paper_url %}
            <li><a href="{{ page.paper_url | prepend: site.baseurl }}" target="_blank" class="btn btn-outline-primary">下载论文</a></li>
            {% endif %}
            {% if page.slides_url %}
            <li><a href="{{ page.slides_url | prepend: site.baseurl }}" target="_blank" class="btn btn-outline-primary">查看演示文稿</a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
        
        <nav class="post-navigation mt-5">
          <div class="row">
            <div class="col-6">
              {% if page.previous.url %}
              <a class="previous-post" href="{{ page.previous.url | prepend: site.baseurl }}">&laquo; {{ page.previous.title }}</a>
              {% endif %}
            </div>
            <div class="col-6 text-right">
              {% if page.next.url %}
              <a class="next-post" href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }} &raquo;</a>
              {% endif %}
            </div>
          </div>
        </nav>
      </article>
    </div>
  </div>
</div>
